<%- include("partials/header.ejs") %>

<div class="container">
    <br>
    <h1> Add Your New Movie</h1>
<form action="/prints" method="POST">
<div class="mb-3">
    <label class="form-label">Date</label>
    <input type="text" class="form-control" name="box[date]" placeholder="Date Of Add Movie">
<div class="mb-3">
    <label class="form-label">Time</label>
    <input type="text" class="form-control" name="box[timeonair]" placeholder="Time Onair Of Movie">
<div class="mb-3">
    <label class="form-label">Name Movie</label>
    <input type="text" class="form-control" name="box[name]" placeholder="Name of Movie">
<div class="mb-3">
    <label class="form-label"> Image Photo</label> 
    <input type="text" class="form-control"name= "box[url]" placeholder="URL of Movie">
</div>
<div class="mb-3">
    <label class="form-label">Video Movie Theater</label> 
    <input type="text" class="form-control"name= "box[video]" placeholder="Video Movie URL">
</div>
<div class="mb-3">
    <label class="form-label">Description of Movie</label>
    <input type="text" class="form-control" name="box[description]" placeholder="description of Movie">
</div><br>
<div class="mb-3">
<button type="submit" class="btn btn-primary">Add new movie</button>
<button href="/prints">back</button>

</form>
</div>
<%- include("partials/footer.ejs")%>
