<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
h1{
    text-align: center;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;

}

</style>
</head>
<body>
<h1>Welcome to DD Cinema</h1>
<h2>doctor strange in the multiverse of madness</h2>

<img src="https://cms.dmpcdn.com/moviearticle/2022/04/27/e746f5a0-c5e6-11ec-87b5-955ce697a35c_original.jpeg"  style="width:50%;">
<br><br>
<div class="center">
    <a href="/prints" >WATCH NOW</a>
</div>


