<%- include("partials/header.ejs") %>

<div class="container">
  <h1>Log In</h1>
  <form action="/login" method="POST">
    <div class="md-3">
      <label class="form-label">Log In</label>
      <input type="text" class="form-control" name="username" placeholder="Username">
    </div>

    <div class="md-3">
      <label class="form-label">password</label>
      <input type="password" class="form-control" name="password" placeholder="Your password">
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
    <a href="/">back</a>
  </form>
</div>

<%- include("partials/footer.ejs")%>

