<%- include("partials/header.ejs") %>
<style>
@import url("https://fonts.googleapis.com/css?family=Sigmar+One&display=swap");

:root {
  --back-color: rgba(245, 245, 245, 0.9);
  --main-color: rgb(25, 24, 24);
  --main-seat: rgb(149, 4, 245);
  --main-selected: rgb(243, 119, 73);
  --main-occupata: rgb(246, 4, 53);
}

* {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  background: var(--back-color);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.6rem;
}

.cinemaInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
}

.content select {
  padding: 0 1rem;
  --moz--appearance: none;
  --webkit--appearance: none;
  appearance: none;
  border: 0;
  border-radius: 3px;

  outline: none;
}

select#film {
  font-size: 1.4rem;
  margin: 0.6rem 0;
}

.content select option {
  font-size: 1.1rem;
  padding: 0 1rem;
}

label.title {
  font-size: 2.9rem;
  color: var(--main-color);
}

.seat.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
  color: #000000;

  background: var(--main-seat);
  height: 1.2rem;
  width: 1.2rem;
  margin: 0.4rem 0.2rem;
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
  cursor: pointer;
  transition: all 0.5s linear;
}

.sedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
  color: #000000;

  background: var(--main-seat);
  height: 1.4rem;
  width: 1.4rem;
  margin: 0.2rem;
  padding: 0.2rem;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  cursor: pointer;
  perspective: 100px;
  transition: all 0.5s linear;
}

.sedia:not(.occupata):hover {
  background: rgb(90, 4, 248);
  transform: scale(1.1);
}

.seat.info:hover {
  cursor: default;
  transform: scale(1.1);
}

.sedia.selezionata {
  background: var(--main-selected);
}

.sedia.occupata {
  background: var(--main-occupata);
  cursor: default;
}

.seat.info.occupata {
  background: var(--main-occupata);
  cursor: default;
}

.seat.info.selezionata {
  background: var(--main-selected);
  cursor: default;
}

.sedia:nth-of-type(2) {
  margin-right: 1rem;
}

.sedia:nth-last-of-type(2) {
  margin-left: 1rem;
}

.screenArea {
  background: #ffffff;
  height: 100px;
  width: 100%;
  margin: 0.8rem 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.8);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  text-align: center;
}

.screenArea span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70px;
  color: rgba(0, 0, 0, 0.1);
}

.theatre {
  margin-top: 0.4rem;
  perspective: 200px;
}

div.row {
  text-align: center;
  display: flex;
  position: relative;
}

div.theatreRows {
  margin-top: 2rem;
}

.rowNumb {
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
  text-decoration: none;
  opacity: 0.1;
  color: #000000;

  position: absolute;
  left: -50px;
  top: 5px;
  transition: 0.5s linear;
}

.rowNumb:hover {
  transform: scale(1.2);
  opacity: 1;
}

.checkout {
  margin: 0.6rem 0;
  color: rgb(0, 0, 0);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "areaTwo areaOne";
  grid-gap: 0.6rem;
}

.checkout span.costo {
  color: rgb(4, 136, 26);
}

.costo {
  display: inline-block;
  min-width: 20px;

  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 0.1rem;
}

.sedieTotale {
  display: inline-block;
  min-width: 20px;

  background: rgba(0, 0, 0, 0.3);

  text-align: center;
}

.postoS {
  min-height: 40px;
  max-width: 150px;
  margin-top: 0.2rem;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: var(--main-color);
  background: rgba(0, 0, 0, 0.3);
}

.btnAcquista {
  border: none;
  outline: none;
  width: 130px;
  padding: 0.6rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.5s linear;
  text-align: center;
  font-size: 1.2rem;
}

.btnAcquista:hover {
  color: #ffffff;
  background: var(--main-color);
}

.checkOutAreaOne {
  grid-area: areaOne;
}

.checkOutAreaTwo {
  grid-area: areaTwo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkoutTotal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.wheelChair {
  width: 1.2rem;
  color: var(--main-color);
  /* padding: 0 0.2rem; */
  margin: 0.2rem 0.3rem;
  text-align: center;
}

/* MEDIA QUERY  */
@media only screen and (max-width: 768px) {
  .btnAcquista {
    font-size: 1rem;
    padding: 0.2rem;
  }

  .screenArea {
    background: #f8f6d8;
    height: 80px;
    width: 100%;
    margin: 0.2rem auto;
    transform: rotateX(-45deg);
    box-shadow: 1px 5px 20px #f8f5cd;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    text-align: center;
  }

  .screenArea span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: rgba(0, 0, 0, 0.2);
  }
}

</style>
  <div class="content">
    <label class="title" for="">Date And Time</label>
    <select name="" id="film">
      <option value="12">25/05/2564  <span class="price">Time: 10.30</span></option>
      <option value="11">25/05/2564  <span class="price">Time: 13.30</span></option>
      <option value="13">25/05/2564  <span class="price">Time: 15.30</span></option>
      <option value="14">25/05/2564  <span class="price">Time: 17.00</span></option>
    </select>
  </div>


  <div class="cinemaInfo">
    <div class="seat info"></div>
    <small>Free</small>


    <div class="seat info selezionata"></div>
    <small>Selezionato</small>


    <div class="seat info occupata"></div>
    <small>Occupato</small>
  </div>

  <div class="theatre">
    <div class="screenArea"><span> Big Brother is watching you</span></div>
    <div class="theatreRows">
      <div class="row" id="1">
        <!-- <div class="rowNumb" id="1"></div> -->
        <div class="sedia" id="1"></div>
        <div class="sedia" id="2"></div>
        <div class="sedia" id="3"></div>

      </div>
      <div class="row" id="2">
        <!-- <div class="rowNumb" id="2"></div> -->
        <div class="sedia" id="1"></div>
        <div class="sedia" id="2"></div>
        <div class="sedia" id="3"></div>

      </div>
      <div class="row" id="3">
        <!-- <div class="rowNumb" id="3"></div> -->
        <div class="sedia" id="1"></div>
        <div class="sedia" id="2"></div>
        <div class="sedia" id="3"></div>
      </div>
    </div>
  </div>

  <div class="checkout">
    <div class="checkOutAreaOne">
      <span> Posto (S/F):</span>
      <div class="postoS"></div>
      <br>
      <div class="checkoutTotal">
        <span> Poltrone: </span> <span class="sedieTotale"> 0 </span>
        <span> Totale € : </span> <span class="costo"> 0 </span>
      </div>

      <br>
    </div>

    <div class="checkOutAreaTwo">
      <!-- BACKEND ROUTE -->
      <form action="https://YOURSITE.COM/CREDITCARDCHECKOUT" method="POST">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_YOURSTRIPEKEY"
          data-amount="0" data-name="test" data-description="Sito Web Veloce"
          data-image="img/movie-film-2-120-317376.png" data-locale="auto" data-currency="eur">
        </script>
        <script>
          // Hide default stripe button
          document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
        </script>


        <button type="submit" class="btnAcquista">Confirm</button>

      </form>


    </div>
  </div>

<%- include("partials/footer.ejs")%>
<script>
//******************************* SELECTIONS
// Git repo https://github.com/sitowebveloce/cinema-booking

const rows = document.querySelectorAll(".rows");
const costo = document.querySelector(".costo");
// Select seats total
let sedieTotale = document.querySelector(".sedieTotale");
let postoS = document.querySelector(".postoS");
// Select button
const acquista = document.querySelector(".btnAcquista");
// Select film selector
let film = document.getElementById("film");
// Select sedie
const sedie = document.querySelectorAll(".sedia:not(.occupata)");
// Global Variables
let removeSeat = false;
let seatRow = 0;
let seatNumber = 0;

// Select rows number and set the innerHtml value
let rowNumb = document.querySelectorAll(".rowNumb");
rowNumb.forEach(element => {
  element.innerHTML = `Fila ${element.id}`;
});

//******************* UPDATE VALUES FUNCTION */
const updateValues = (seatNumber, seatRow, removeSeat) => {
  // Select seats with class 'selezionata'
  let seatSelected = document.querySelectorAll(".row .sedia.selezionata");

  // Create array for localstorage
  let localStorageSeats = [...seatSelected].map(seat => {
    return [...sedie].indexOf(seat);
  });
  // Save seats selected inside browser localstorage
  localStorage.setItem("poltrone", JSON.stringify(localStorageSeats));

  // Populate info area
  if (seatNumber && seatRow !== undefined) {
    if (!removeSeat) {
      postoS.innerHTML += ` ${seatNumber}/${seatRow} -`;
      // Save value inside browser local storage
      localStorage.setItem("S&&F", postoS.innerHTML);
    } else {
      postoS.innerHTML = postoS.innerHTML.replace(
        ` ${seatNumber}/${seatRow} -`,
        ""
      );
      // Save value inside browser local storage
      localStorage.setItem("S&&F", postoS.innerHTML);
    }
  }
  // Set ticket price
  let ticket = film.value;
  // Seats total number
  sedieTotale.innerHTML = seatSelected.length;
  // Price
  costo.innerHTML = seatSelected.length * ticket;
};

//************ Load data from browser local storage */
let sedieNotSelected = document.querySelectorAll(".sedia:not(.selezionata)");
const loadData = () => {
  // Load data from the browser
  let poltrone = JSON.parse(localStorage.getItem("poltrone"));
  let movie = localStorage.getItem("movie");
  let price = localStorage.getItem("price");
  let occupate = JSON.parse(localStorage.getItem("occupate"));

  // Set selected seats
  if (poltrone !== null && poltrone.length > 0) {
    sedie.forEach((poltrona, index) => {
      if (poltrone.indexOf(index) > -1) {
        poltrona.classList.add("selezionata");
      }
    });
  }
  // Set seats occupate
  if (occupate !== null && occupate.length > 0) {
    sedieNotSelected.forEach((poltrona, index) => {
      if (occupate.indexOf(index) > -1) {
        poltrona.classList.add("occupata");
      }
    });
  }

  // Set movie title
  let movieSavedIdx = localStorage.getItem("movie");
  if (movieSavedIdx !== null) {
    film.selectedIndex = movieSavedIdx;
  }

  // Update values
  updateValues();

  // Populate area info
  let seatsInfo = localStorage.getItem("S&&F");
  postoS.innerHTML = seatsInfo;
};
// Run load data
loadData();

//*************** Select sedie and add event listener */
const sedieReload = document.querySelectorAll(".sedia:not(.occupata");
sedieReload.forEach(element => {
  // Set seat number
  element.innerHTML = element.id;
  // Add event listener
  element.addEventListener("click", () => {
    seatRow = element.parentElement.id;
    seatNumber = element.id;

    // Add and remove color class
    if (element.classList.value == "sedia") {
      element.classList.add("selezionata");
      // Set false remove variable
      removeSeat = false;
      // Update values
      updateValues(seatNumber, seatRow, removeSeat);
    } else {
      element.classList.remove("selezionata");
      // Set true remove variable
      removeSeat = true;
      // Update values
      updateValues(seatNumber, seatRow, removeSeat);
    }
  });
});

//********************* Movie title event listener */
film.addEventListener("change", e => {
  // Ticket
  let ticket = parseInt(e.target.value);
  let movieTitle = e.target.selectedIndex;
  // Save inside localstorage movie title
  localStorage.setItem("movie", movieTitle);
  // Save price
  localStorage.setItem("price", ticket);
  // Update value
  updateValues();
});

//***************** BTN ACQUISTA EVENT LISTENER */
acquista.addEventListener("click", () => {
  let sedia = document.querySelectorAll(".sedia.selezionata");
  sedia.forEach(element => {
    element.classList.remove("selezionata");
    element.classList.add("occupata");
    // Clear all fields
    element.innerHTML = "";
    sedieTotale.innerHTML = "";
    costo.innerHTML = "";
    postoS.innerHTML = "";
    // Clear localStorage
    localStorage.clear();

    // Save inside local Storage
    let seatBusySelec = document.querySelectorAll(".row .sedia.occupata");

    const localStorageSeatsOccupied = [...seatBusySelec].map(seat => {
      return [...sedieNotSelected].indexOf(seat);
    });

    // Save
    localStorage.setItem("occupate", JSON.stringify(localStorageSeatsOccupied));
  });
});
</script>